.post__wrapper {
    list-style: none;
    font-size: 28px;
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.post__wrapper:hover {
    border-bottom: 1px dashed red;
}